<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View students</title>
</head>
<body>

    <form>
      <label >First name:</label>
      <input type="text" name="first_name"><br><br>

      <label>Last name:</label>
      <input type="text" name="last_name"><br><br>

      <label>Rating:</label>
      <input type="number" name="rating"  min="0" max="100"><br><br>

      <input type="submit" value="Search">
    </form>

{#{{students|safe}}#}

{% for student in students %}
{#    <a href="/students/edit/{{ student.id }}">EDIT</a>#}
    <a href="{% url 'students:edit' student.id%}">EDIT</a>
    {{ student.id }}
    {{ student.first_name }}
    {{ student.last_name }}
    {{ student.email }}
    {{ student.rating }}
    <br>
{% endfor %}

</body>
</html>